/*CSS stylesheet for 3D Button effect*/

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'OPEN sANS';
  font-size: 1.25rem;
  line-height: 1.5;
  background: #fff;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.three-dimensional-button {
    padding: 1.25em 2em;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    font-weight: 500;
    color: #382b22;
    background: #f3d5f6;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
    transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.three-dimensional-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #d598db;
  box-shadow: 0 0 0 2px #b18597, 0 .625em 0 0 #f4e7e7;
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.three-dimensional-button:hover {
  background: #F3D5F6;
  -webkit-transform: translate(0, 0.25em);
          transform: translate(0, 0.25em);
}

button.three-dimensional-button:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 .5em 0 0 #f4e7e7;
  -webkit-transform: translate3d(0, 0.5em, -1em);
          transform: translate3d(0, 0.5em, -1em);
}

button.three-dimensional-button:active {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.75em);
          transform: translate(0, 0.75em);
}

button.three-dimensional-button:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #f4e7e7;
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}
